@font-face {
    font-family: 'Sansumi-UL';
    src: URL('../fonts/Sansumi-UltraLight.ttf') format('truetype');
  }
*, *::before, *::after
{
    box-sizing: border-box;
}

/*-----------------------------------------------------------           GENERAL */
:root
{
    --clr-menu : #7ad0da;
    --clr-section : rgba(255, 255, 255, 1);
    --clr-bg : #0C7896;
}

body
{
    background-color: var(--clr-bg);
}
.page
{
    background-color: white;
    border-radius: 3px;
    padding: 10px;
}


/* -------------------------------------------------------             HEADER */
.header
{
    background-color: var(--clr-section);
    padding: 10px;
    position: sticky;
    z-index: 999;
    position: -webkit-sticky;
    top: 0; /* required */
    transition-property: box-shadow;
    transition-duration: 0.5s;
    
    /* box-shadow: 0px 1em 0.5em 0.1em rgba(0, 0, 0, 0.6); */
}
.logo img
{
    width: 20%;
    transition-property: width;
    transition-duration: 0.5s;
}

.navbar
{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--clr-menu);
    justify-content: space-around;
    border-radius: 5px;
}
.navbar .item
{
    display: inline-block;
    font-family: "Sansumi-UL";
    font-size: 2rem;
    padding: 10px;
    border-left: #eee solid 1px;
    border-right: #eee solid 1px;
    flex-basis: 25%;
    text-align: center;
    letter-spacing: 0em;
    transition-property: letter-spacing;
    transition-duration: 0.5s;
}

.navbar .item:hover
{
    letter-spacing: 0.04em;
    cursor: pointer;
    opacity: 0;
}

/* -------------------------------------------------------             SLIDESHOW */

.slideshow-container
{
    margin-left: 5%;
    width: 50%;
    height: 400px;
    text-align: center;
    position: relative;
}

.slideshow .item
{
    transition: opacity 0.5s;
    position: absolute;
    pointer-events:visible;
}

.slideshow .item img
{
    transition: box-shadow 0.5s, transform 0.5s;
    max-width: 100%;
    /* opacity: 0; */
    
}

.slideshow .item:hover img
{
    transform:translate(0, -10px);
    box-shadow: 0px 1em 0.5em 0.1em rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.slideshow-container .buttons
{
    top: 50%;
    height: 15px;
    text-align: center;
}

.slideshow-container .buttons .dot
{
    height: 15px;
    width: 15px;
    background-color: #aaa;
    
    transition-property: background-color;
    transition-duration: 0.5s;

    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 100%;
}

/*---------------------------------             MOBILE VERSION */
@media (max-width: 767px)
{
    .navbar .item
    {
        flex-basis: 100%;
    }
}

/*-------------------------------------                 ANIMATIONS*/
@keyframes fade
{
    0% {
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        background-color: transparent;
    }
}