@mixin lift_on_hover() {
    box-shadow: 0px 0em 0em 0em transparent;
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover
    {
        box-shadow: 0px 1em 0.5em 0.1em rgba(0, 0, 0, 0.6);
        transform : translate(0, -100px);
    }
}



// ----------------------------------------------                      GENERAL
@font-face {
    font-family: 'Sansumi-UL';
    src: URL('../fonts/Sansumi-UltraLight.ttf') format('truetype');
  }

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf");
}
*, *::before, *::after
{
    box-sizing: border-box;
}


$color-menu: #7ad0da;
$color-section : rgba(255, 255, 255, 1);
$color-bg : #0C7896;
$color-text-light : #007090;
$color-text-extra-light : #CCCCFF;

html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    background-color: $color-bg;
}

.page
{
    background-color: $color-section;
    padding: 10px;
    padding-bottom: 10vh;
    // height: 150vh;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-menu;
  border-radius: 10px;
}

.center-container
{
    text-align: center;
}

button
{
    outline: none;
    border: none;
    background-color: transparent;
    width: 2vw;
    height: auto;
}

.flex-around
{
    display: flex;
    justify-content: space-between;
}

.section
{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    // width: 100%;
}

.image-left
{
    float: left;
    margin-left: 5vw;
}

.image-right
{
    float: right;
    margin-right: 5vw;
}

// ---------------------------------------------------------------     HEADER
.header
{
    background-color: $color-section;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: box-shadow 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo
    {
        width: 60vw;
        img
        {
            width: 100%;
            transition: width 0.5s;
        }
    }

    .navbar
    {
        position: absolute;
        transform:scale(0, 1);
        top: -3vh;
        right: -5vw;
        display: flex;
        flex-direction: column;
        background-color: $color-menu;
        // background-color: $color-section;
        transition: transform 0.5s;
        visibility: 0;
        transform-origin: center right;
        z-index: 10;
        height: 120vh;

        .item
        {
            padding: 5vh;
            font-family: "Sansumi-UL";
            font-size: 0.8rem;
            white-space: nowrap;
            text-decoration: none;
            color: black;
        }
        .cross
        {
            display: flex; 
            justify-content: flex-end;
        }
    }

    .hamburger
    {
        padding: 1vg;
    }
}
// ---------------------------------------------------------------     SLIDESHOW
.slideshow-container
{
    $slideshow-w : 14.8vw * 6;
    $slideshow-h : 10.5vw * 6;
    

    text-align: center;
    width: $slideshow-w;
    height: $slideshow-h;
    position: relative;

    left: 50%;
    transform: translateX(-50%);

    margin-top: 2vh;

    .slideshow
    {
        overflow: hidden;
        width: $slideshow-w;
        height: $slideshow-h;
        position: relative;

        .item
        {
            transition: opacity 0.5s;
            display: inline-block;
            width: $slideshow-w;
            height: $slideshow-h;
            position: absolute;

            left: 0;
            top: 0;

            img
            {
                transition: box-shadow 0.5s, transform 0.5s;
                width: inherit;
                height: inherit;
            }

            &:hover
            {
                img
                {
                    box-shadow: 0px 0.1em 1em 0.05em rgba(0, 0, 0, 0.6);
                    transform: translate(0, -1vh);
                }
            }
        }

    }
    .buttons
    {
        text-align: center;
        margin-top: 1vh;
        
        button
        {
            height: 2vh;
            width: 2vh;
            border-radius: 100%;
            color: transparent;
            transition: background-color, 0.5s;
            margin-left: 1vw;
            margin-right: 1vw;
        }
    }
}
// ---------------------------------------------------------------     TEXT
.text-container
{
    font-size: 0.8rem;
    color:$color-text-light;
    font-family: "Roboto";
    width: 100vw;

    .title
    {
        font-size: 1.8rem;
        font-family: "Sansumi-UL";
        text-align: center;
        color: black;

        padding-bottom: 4vh;
        transition: letter-spacing 1s;

        &:hover
        {
            letter-spacing: 0.1em;
        }
    }

    .text
    {
        margin-top: 0;
        margin-left: 5%;
        margin-right: 5%;
        word-spacing: 0.3em;
        line-height: 1.5em;
        font-size: 1.2em;
    }
}
// ---------------------------------------------------------------     ARROWS
.arrow-up
{
    width: 6vh;
    height: 6vh;

    img
    {
        width: 100%;
        height: 100%;

        &:hover
        {
            cursor: pointer;
        }
    }
}
// ---------------------------------------------------------------     NEWS
.news
{
    $img-width : 14.8vh * 2;
    $img-height : 10.5vh * 2;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;

    width: 100%;

    .item
    {
        padding: 1vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img
        {
            width: $img-width;
            height: $img-height;
        }

        .text
        {
            margin-left: 2vw;
            display: flex;
            flex-direction: column;

            .title
            {
                margin-top: 5%;
                font-family: "Sansumi-UL";
                font-size: 2em;
                padding-bottom: 10%;
                transition: letter-spacing 1s;

                &:hover
                {
                    letter-spacing: 0.1em;
                }
            }

            .subtitle
            {
                font-family: "Roboto";
            }
        }
    }
}

// ---------------------------------------------------------------     FOOTER

.footer
{
    height: 40vh;
    color: $color-text-extra-light;
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    .section
    {
        flex-basis: 50%;
        text-align: center;

        .logos
        {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            img
            {
                width: 7vh;
                margin: 3vw;

                padding: 10px;
                transition: background-color 0.5s;
                border-radius: 10%;

                &:hover
                {
                    background-color: $color-menu;
                }
            }
        }
    }
}
// ---------------------------------------------------------------     MOBILE VERSION
@media (min-width: 1025px)
{
    // ---------------------------------------------------------------     HEADER
    .header
    {
        display: block;
        .hamburger
        {
            display: none;
        }
        .logo
        {
            width: 30vw;
        }

        .navbar
        {
            position: static;
            transform:scale(1, 1);
            top: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            background-color: $color-menu;
            // background-color: $color-section;
            transition: transform 0.5s;
            transform-origin: center right;
            z-index: 10;
            height: 12vh;
            justify-content: space-between;

            .item
            {
                padding: 5vh;
                height: 2vh;
                font-family: "Sansumi-UL";
                text-align: center;
                font-size: 2rem;
                transition: letter-spacing 0.5s;
                &:hover
                {
                    letter-spacing: 0.1em;
                }
            }
            .cross
            {
                display: none;
            }
        }
    }
    // ---------------------------------------------------------------     SLIDESHOW
    .slideshow-container
    {
        $slideshow-w : 14.8vw * 3.4;
        $slideshow-h : 10.5vw * 3.4;

        text-align: center;
        width: $slideshow-w;
        height: $slideshow-h;
        // position: static;
        // margin-left: 5vw;

        // left: 50vw;
        transform: translateX(-50%);

        margin-top: 2vh;
        flex-basis: 10%;

        .slideshow
        {
            overflow: hidden;
            width: $slideshow-w;
            height: $slideshow-h;
            // position: relative;

            .item
            {
                transition: opacity 0.5s;
                width: $slideshow-w;
                height: $slideshow-h;

                left: 0;
                top: 0;

                img
                {
                    transition: box-shadow 0.5s, transform 0.5s;
                    width: inherit;
                    height: inherit;
                }

                &:hover
                {
                    img
                    {
                        box-shadow: 0px 0.1em 1em 0.05em rgba(0, 0, 0, 0.6);
                        transform: translate(0, -1vh);
                    }
                }
            }

        }
        .buttons
        {
            text-align: center;
            margin-top: 1vh;
            
            button
            {
                height: 2vh;
                width: 2vh;
                border-radius: 100%;
                color: transparent;
                transition: background-color, 0.5s;
                margin-left: 1vw;
                margin-right: 1vw;
            }
        }
    }
    // ---------------------------------------------------------------     TEXT
    .text-container
    {
        font-size: 0.8rem;
        color:$color-text-light;
        font-family: "Roboto";
        text-align: center;

        .title
        {
            font-size: 1.8rem;
            font-family: "Sansumi-UL";
            text-align: center;
            color: black;

            padding-bottom: 4vh;
            transition: letter-spacing 1s;

            &:hover
            {
                letter-spacing: 0.1em;
            }
        }

        .text
        {
            margin-top: 0;
            margin-left: 5%;
            margin-right: 5%;
            word-spacing: 0.3em;
            line-height: 1.5em;
            font-size: 1.2em;
        }
    }
}