<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/5a774fb0d936a5c77c616acc2192c8db?family=Avenir+Next+Cyr+Ultra+Light" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Progetto Uriel - Chi Siamo</title>
</head>
<body>
    <div class="page">
      <!--HEADER-->
      <div class="header">
        <div class="logo">
          <!-- <img src="{{ url_for('static', filename='img/logo-complete.svg') }}"> -->
          <a href="index.html">
            <img src="../static/img/logo-complete.svg" alt="">
          </a>
        </div>
        <div class="hamburger">
          <img src="../static/img/Hamburger_icon.svg" alt="" onclick="nav_popup();">
        </div>
        <div class="navbar">
          <div class="cross item"  onclick="nav_hide()" >
            <img src="../static/img/cross.svg" alt="" style="width: 2vh; height: 2vh; @media (min-width: 767px) {
              display: none;
            }">
          </div>
          <a class="item" href="services.html">
            <b>  
              Servizi e contatti
            </b>
          </a>
          <a class="item" href="about.html">
            <b>
              Chi siamo
            </b>
          </a>
          <a class="item" href="suggestions_cin.html">
            <b>
              Consigli cinofili
            </b>
          </a>
          <a class="item" href="suggestions_vet.html">
            <b>
              Consigli veterinari
            </b>
          </a>
        </div>
      </div>
      <!--FIRST SECTION-->
      <div class="section">
        <!--TEXT-->
        <div class="text-container">
          <div class="title" style="margin-top: 6vh; text-align: right; margin-right: 20vw;">
            CHI SIAMO
          </div>
            <div class="text" style=" text-align: right; display: flex; justify-content: flex-end;">
              <p style="width: 50%; margin-left: 10vw;">

                L’Uriel project prende il nome da Uriel, il gatto di uno dei suoi fondatori, Zineb Bensiah, che ha ispirato questo progetto in primo luogo.
                
                L’Uriel project vuole portare insieme canili e gattili della nostra zona, per poter dare una chance a tutti gli animali in qualunque posto. 
                Tutti meritano una possibilità!
              </p>

            </div>
            
            <div class="title" style="text-align: left; margin-left: 20vw;">
              LA STORIA DEL PROGETTO
            </div>
            <div class="text" style=" text-align: left; display: flex; justify-content: flex-start;">
              <p style="width: 60%; margin-right: 10vw;">
                Il tutto iniziò quando una delle fondatrici, Zineb Bensiah, si ritrovò a voler prendere un gatto. Non aveva importanza se fosse di razza, da un gattile o da un allevatore, con queste informazioni si rivolse alle sue amiche ed insieme iniziarono la ricerca.
                Tuttavia, la questione si rivelò molto più ardua: non trovarono un gatto da nessuna parte, cercarono su siti di canili e gattili ovunque, ma sembrava non esserci nulla.
                La ricerca andò avanti per qualche mese, e a quel punto iniziarono ad abbattersi, pensando che non avrebbero mai trovato un gatto che andasse bene. Fino a che, provando e parlandone con più persone possibili, riuscirono a trovare il contatto di una persona molto disponibile, che lavorava in un canile.
                Il gatto in questione non era neppure catalogato sul sito del canile stesso, e di un carattere timido, dunque passava inosservato a chi potesse avere il lusso andare al canile, un’impresa ardua per il periodo per via della pandemia di Covid-19 in atto.
                Finalmente riuscirono a portare il gatto a casa, come regalo di compleanno per l’interessata.
                Quel gatto fu poi ribattezzato Uriel.
              </p>
            </div>
            </div>
        </div>
      </div>
      <!--FOOTER-->
      
      <!--SCRIPT/S-->
      <script src="../static/js/header.js"></script>
  </body>
  </html>