<html>
    <head>
        <title> progetto Uriel: Home Page</title>

        <link rel="stylesheet" href="frontend.css">

    </head>
    <body>
        <div id="id-body">
            
            <div class="class-title-container">
                <div class="class-title">
                    <div class="class-title-image">
                        <img src="logo.jpeg" alt="">
                    </div>
                    <div class="class-title-name">
                        <div class="class-title-name-Uriel">
                            Uriel
                        </div>
                        <div class="class-title-name-Project">
                            Project
                        </div>
                    </div>
                </div>
            </div>

            <div class="class-menu-container">
                <div class="class-menu-sub-container">
                    <ul class="class-menu-list">
                        <li class="class-menu-item">I nostri servizi</li>
                        <li class="class-menu-item">Chi siamo</li>
                        <li class="class-menu-item">Book</li>
                        <li class="class-menu-item">Consigli</li>
                    </ul> 
                </div>
            </div>
        </div>
        

    </body>
</html>