<html>
    <head>
        <title> progetto Uriel: Home Page</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/frontend.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet"> 

    </head>
    <body>
        <div id="id-body">
            
            <div class="class-title-container">
                <div class="class-title">
                    <div class="class-title-image">
                        <img src="logo.jpeg" alt="">
                    </div>
                    <div class="class-title-name">
                        <div class="class-title-name-Uriel">
                            Uriel
                        </div>
                        <div class="class-title-name-Project">
                            Project
                        </div>
                    </div>
                </div>
            </div>

            <div class="class-menu-container">
                <div class="class-menu-sub-container">
                        <div class="class-menu-div-item"><li class="class-menu-item" >I nostri servizi</li></div>
                        <div class="class-menu-div-item"><li class="class-menu-item">Chi siamo</li></div>
                        <div class="class-menu-div-item"><li class="class-menu-item">Book</li></div>
                        <div class="class-menu-div-item"><li class="class-menu-item">Consigli</li></div>
                </div>
            </div>

            <div class="class-search-bar-container">
                <button class="class-search-bar-button"> Cerca</button>
                <input class="class-search-bar-input" type="text" placeholder="Search..">
            </div>

            <div class="class-slider-container">
                <img class ="class-slider-image"src="">
            </div>

            <div class="class-boh-container">
                cosa dovrebbe essere?
            </div>

            <div class="class-donators-list">
                <ol>
                    <li> Gianfranco Babbo</li>
                    <li> Gianfranco Babbo</li>
                    <li> Gianfranco Babbo</li>
                    <li> Gianfranco Babbo</li>
                </ol>
            </div>

        </div>
        

    </body>
</html>